name: Ahk2Exe

on: push

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Download Ahk2Exe Compiler
        shell: powershell
        run: |
          Invoke-WebRequest https://github.com/AutoHotkey/Ahk2Exe/releases/download/Ahk2Exe1.1.37.02a0a/Ahk2Exe1.1.37.02a0.zip -OutFile Ahk2Exe.zip
          7z x Ahk2Exe.zip

      - name: Ahk2Exe
        shell: powershell
        run: |
          ./Ahk2Exe.exe /in "./MS Paint Hotkeys.ahk" /out "./msp_hotkeys.exe" /icon ".github\readme-images\mspaint\icon\icon16.ico" /silent verbose
          
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: "*.exe"
